#calendar {
    display: flex;
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */      /* インラインブロック要素にする */
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#parent {
    display: flex;
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */      /* インラインブロック要素にする */
    flex-wrap: wrap;
    width: 100%;
    height: 95%;
    position: absolute;
}
/*
#container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
*/

section.year {
    margin: 10px;
    display: flex;
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */      /* インラインブロック要素にする */
    flex-wrap: wrap;

}

h1 {
    font-size: 18px;
}

table.month {
    border-spacing: 0;
    border-collapse: collapse;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0%;
    left: 5%;
    table-layout: fixed;
}

td.calendar_td.yeartd {
    text-align: center;
}

td.today_td.yeartd {
    text-align: center;
}

td.is-disabled.yeartd {
    text-align: center;
}

table.year {
    border-spacing: 0;
    border-collapse: collapse;
    width: 300px;
    height: 200px;
}

table.small {
    border-spacing: 0;
    border-collapse: collapse;
    position: absolute;
    top: 10px;
    right: 100px;
    width: 300px;
    height: 200px;
}


td {
    border: 1px solid #ddd;
    padding: 5px;
}

td.today_td {
    vertical-align: top;
    background-color: yellow;
    color: black;
    text-align: right;
}


td.week {
    color: black;
    text-align: center;
}

td.calendar_td {
    vertical-align: top;
    color: black;
    text-align: right;
}
td.calendar_td.ref {
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: top;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td.is-disabled {
    text-align: right;
    color: #ccc;
    vertical-align: top;
}

#year {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0;
}
#month {
    margin: 0;
}

#dayButton {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
}

#dayButton.active {
    background-color: #666666
}

#year.active {
    background-color: #666666
}

#month.active {
    background-color: #666666
}

#prev {
    border-radius: 5px;
}

#prev:active {
    background-color: #666666
}

#next {
    border-radius: 5px;
}

#next:active {
    background-color: #666666
}

#today {
    border-radius: 5px;
}

#today:active {
    background-color: #666666;
}

td.timetd { 
    padding: 0;
    margin: 0;
    border-top-style: none;
    border-bottom-style: none;
    color: black;
    width: 30px;
    height: 10px;
    font-size: 10px;
}

td.schedule {
    padding: 0;
    margin: 0;
    border-top-style: none;
    border-bottom-style: none;
    color: black;
    width: 300px;
    height: 10px;
}

td.schedule.active {
    background-color: #CCFFFF;
}
hr {
    width: 300px;
}

span.eventForm {
    display: inline-block;
    width: 10em;
}

#delete {
    text-align: right;
}

#box {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid #333333;
    border-radius: 10px;
    background-color: silver;
}

#detailBox {
    padding: 5px;
    border: 1px solid #333333;
    border-radius: 10px;
    position: absolute;
    width: 300px;
    top: 200px;
    left: 5%;
}
#complete {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 5px;
}

#add {
    border-radius: 5px;
}

#time {
    width: 25%;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    left: 33%;
}

#container1 {
    width: 33%;
    height: 100%;
    position: absolute;
    left: 0;
}

#container3 {
    width: 33%;
    height: 100%;
    position: absolute;
    left: 66%;
}
#timetable {
    width: 90%;
    border-spacing: 0;
    border-collapse: collapse;
    position: absolute;
    table-layout: fixed;
    top: 0px;
    left: 5%;
}


.delete {
    position: absolute;
    text-align: center;
    right: 10px;
    width: 50px;
    height: 10px;
    background-color: white;
    font-size: 8px;
}

#deleteButton {
    position: absolute;
    right: 5px;
    border-radius: 5px;
}

div.event {
    text-align: center;
    color: orange;
}

div.assigned {
    width: 100%;
    font-size: 5px;
}
div.assigned:empty {
  height: 1em;
}

span.timeText {
    margin-left: 50px;
}



a.route {
    color: black;
}

a.route:hover {
    color: red;
}